[submodule "scripts/enumeration/linuxprivchecker"]
	path = scripts/enumeration/linuxprivchecker
	url = git@github.com:sleventyeleven/linuxprivchecker.git
[submodule "scripts/enumeration/linux-smart-enumeration"]
	path = scripts/enumeration/lse
	url = git@github.com:diego-treitos/linux-smart-enumeration.git
[submodule "scripts/enumeration/LinEnum"]
	path = scripts/enumeration/LinEnum
	url = git@github.com:rebootuser/LinEnum.git
[submodule "scripts/access/AutoBlue-MS17-010"]
	path = scripts/access/autoblue
	url = git@github.com:3ndG4me/AutoBlue-MS17-010.git
[submodule "scripts/privesc/juicy-potato"]
	path = scripts/privesc/juicy-potato
	url = git@github.com:ohpe/juicy-potato.git
[submodule "scripts/enumeration/privilege-escalation-awesome-scripts-suite"]
	path = scripts/enumeration/peas
	url = git@github.com:carlospolop/privilege-escalation-awesome-scripts-suite.git
