[submodule "scripts/discovery/intelligent_machine_discovery"]
	path = scripts/discovery/imd
	url = https://github.com/kmanc/intelligent_machine_discovery.git
[submodule "scripts/enumeration/linuxprivchecker"]
	path = scripts/enumeration/linuxprivchecker
	url = https://github.com/sleventyeleven/linuxprivchecker.git
[submodule "scripts/enumeration/linux-smart-enumeration"]
	path = scripts/enumeration/lse
	url = https://github.com/diego-treitos/linux-smart-enumeration.git
[submodule "scripts/enumeration/LinEnum"]
	path = scripts/enumeration/LinEnum
	url = https://github.com/rebootuser/LinEnum.git
[submodule "scripts/enumeration/privilege-escalation-awesome-scripts-suite"]
	path = scripts/enumeration/peas
	url = https://github.com/carlospolop/privilege-escalation-awesome-scripts-suite.git
[submodule "scripts/privesc/juicy-potato"]
	path = scripts/privesc/juicy-potato
	url = https://github.com/ohpe/juicy-potato.git
[submodule "scripts/access/AutoBlue-MS17-010"]
	path = scripts/access/AutoBlue-MS17-010
	url = https://github.com/3ndG4me/AutoBlue-MS17-010.git
[submodule "scripts/enumeration/PowerSploit"]
	path = scripts/enumeration/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
[submodule "scripts/privesc/mimikatz"]
	path = scripts/privesc/mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "scripts/enumeration/jaws"]
	path = scripts/enumeration/jaws
	url = https://github.com/411Hall/JAWS
[submodule "scripts/enumeration/Bloodhound"]
	path = scripts/enumeration/Bloodhound
	url = https://github.com/BloodHoundAD/BloodHound
[submodule "scripts/enumeration/cme"]
	path = scripts/enumeration/cme
	url = https://github.com/byt3bl33d3r/CrackMapExec
[submodule "scripts/access/evil-winrm"]
	path = scripts/access/evil-winrm
	url = https://github.com/Hackplayers/evil-winrm
[submodule "scripts/access/impacket"]
	path = scripts/access/impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "scripts/enumeration/Internal-Monologue"]
	path = scripts/enumeration/Internal-Monologue
	url = https://github.com/eladshamir/Internal-Monologue
