[submodule "scripts/discovery/intelligent_machine_discovery"]
	path = scripts/discovery/imd
	url = https://github.com/kmanc/intelligent_machine_discovery.git
[submodule "scripts/enumeration/linuxprivchecker"]
	path = scripts/enumeration/linuxprivchecker
	url = https://github.com/sleventyeleven/linuxprivchecker.git
[submodule "scripts/enumeration/linux-smart-enumeration"]
	path = scripts/enumeration/lse
	url = https://github.com/diego-treitos/linux-smart-enumeration.git
[submodule "scripts/enumeration/LinEnum"]
	path = scripts/enumeration/LinEnum
	url = https://github.com/rebootuser/LinEnum.git
[submodule "scripts/enumeration/privilege-escalation-awesome-scripts-suite"]
	path = scripts/enumeration/peas
	url = https://github.com/carlospolop/privilege-escalation-awesome-scripts-suite.git
[submodule "scripts/privesc/juicy-potato"]
	path = scripts/privesc/juicy-potato
	url = https://github.com/ohpe/juicy-potato.git
[submodule "scripts/access/AutoBlue-MS17-010"]
	path = scripts/access/AutoBlue-MS17-010
	url = https://github.com/3ndG4me/AutoBlue-MS17-010.git
[submodule "scripts/enumeration/PowerSploit"]
	path = scripts/enumeration/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
